/* Font */
* {
    padding:  0;
    margin: 0;
    font-family: "DM Sans";
}
@font-face {
    font-family: "DM Sans";
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "DM Sans";
    src: url(../fonts/DMSans-Medium.ttf);
    font-weight: medium;
}
@font-face {
    font-family: "DM Sans";
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: normal;
}

.btn {
    border: none;
    padding: 5px 30px;
    text-decoration: none;
}


.btn-light {
    color: black;
}

.btn-dark {
    color: white;
    background-color: black;
}

/* Header */


.header {
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    padding: 0 24px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 64px;
}

.logo {
    width: 91px;
    height: 34px;
}

.logo img {
    display: block; 
}

.search-form {
    width: 600px;
}

.catagories a {
    font-style: none;
    text-decoration: none;
    color: black;
    padding: 0 28px;
    font-size: 20px;
    font-weight: 350;
}


.catagories a i {
    width: 20px;
    font-size: 20px;
}

.form-control {
    border-radius: 30px!important;
}

.search-form {
    position: relative;
}


.search-input {
    padding: 0.375rem 2.75rem!important;
    border: none;
    background-color: #E0E0E099;
}


.login-reg a {
    margin: 0 10px;
    width: 111px;
    border-radius: 10px;
}

.login-reg :first-child {
    background-color: #ededed;
}


/* Drop down */
.dropdown-box {
    position: relative;
    display: inline-block;
}

.dropdown-box::before {
    position: absolute;
    display: block;
    height: 20px;
    width: 144px;
    content: "";
    top: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    top: 147%;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 50px;
}

.dropdown-content a {
    width: 250px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-content a:hover {color: #A435F0;}

.dropdown-box:hover .dropdown-content {display: block;}

.dropdown-content-sales {
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 300px;
}

.btn-sales {
    margin-top: 10px;
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}

.dropdown-content-cart {
    font-size: 16px;
    padding: 16px;
    text-align: center;
}

.dropdown-content-cart span {
    color: #6a6f73;
}

.dropdown-content-cart a{
    color: #A435F0;
    text-decoration: none;
    font-weight: 400;
}

/* Slider */

.body {
    margin-top: 53.6px;
}

.slider {
    text-align: center;
    display: block;
    background-color: #F9F1FE;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-slide {
    width: 600px;
    text-align: left;
    padding-top: 46px;
    padding-left: 132px;
}

.slide-title {
    font-weight: 700;
    font-size: 45px;
}

.slide-text {
    font-size: 25px;
    font-weight: 300;
}

.btn-slide-1 {
    background-color: #CD93FF!important;
    font-size: 28px!important;
    font-weight: 600!important;
    position: absolute;
    /* border: none!important; */
    border-radius: 20px!important;
    color: white!important;
    padding: 8px 16px!important;
    top: 83%;
    right: 50%;
    transform: translate(50%, -50%);
}


.content-slide-2 span{
    display: inline-block;
    width: 357px;
    font-weight: 400;
    font-size: 40px;
}

.btn-slide-2 {
    background-color: white!important;
    font-size: 28px!important;
    font-weight: 600!important;
    position: absolute;
    border: none;
    border-radius: 20px!important;
    color: #CD93FF!important;
    padding: 8px 40px!important;
    top: 72%;
    right: 75%;
    transform: translate(50%, -50%);
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-img {
    position: relative;
    background-color: #F9F1FE;
    padding-bottom: 50px;
    background: url(../images/thisisengineering-raeng-TXxiFuQLBKQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1300px;
    height: 596px;
    border-radius: 20px;

}

.slider-img img {
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    border-radius: 20px;
}

.slider-btn {
    position: absolute;
    background-color: #F9F6F5!important;
    border-radius: 50%!important;
    width: 49px;
    height: 49px;
}

.slider-btn i {
    color: #E4C7FA;
    font-size: 32px;
    line-height: 49px;
}

.slider-btn-left {
    left: 130px;
    top: 360px;
}

.slider-btn-right {
    right: 130px;
    top: 360px;
}

/* Goal */

  
.goal-btn.prev {
  left: 10px;
}

.goal-btn.next {
  right: 10px;
}

.goal-container {
    background-color: #EEEEEE;
    padding: 50px;
}

.goal-title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
}

.goal-block {
    background-color: #FFFDFD;
    margin: 0 26px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    width: 376px;
    height: 350.79px;
    display: inline-block;
}

.goal-content {
    line-height: 1.4;
    font-size: 16px;
}

.goal-content i {
    display: block;
    color: #D19CFF;
    font-size: 35px;
}

.goal-content-block {
    padding: 0 15px;
    text-align: left;
    font-weight: 450;
}

.goal-hr {
    padding: 0 15px;
    margin: 15px 0;
}

.goal-hr hr {
    color: black;
    opacity: 1;
}

.goal-author {
    display: flex;
    padding: 0 15px;
    text-align: left;
    padding-bottom: 10px;
}

.bookmark {
    padding-right: 15px;
    font-size: 35px;
    color: #D19CFF;
}

.goal-author-block {
    font-weight: 600;
}
/* Categories */
.top-cate {
    background-color: #F9F1FE;
    padding: 30px;
}

.cate-img {
    width: 300px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2px 2.6px;
    border-radius: 20px;
    overflow: hidden;
}

.cate-img img {
    border-radius: 20px;
    background: #f7f9fa;
    display: block;
    object-fit: contain;
    transition: transform 100ms cubic-bezier(.2,0,1,.9);
}



.cate-title {
    text-align: center;
    padding: 10px;
}


.cate-title a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}



.cate-row {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

/* Feature */
.feature {
    padding: 20px;
    background-color: #FFFEFE;
    border-radius: 20px;
}

.container-feature {
    width: 75%;
    margin: 0 auto;
}

.feature-row {
    display: flex;
    justify-content: space-around;
}

.feature-title {
    padding-bottom: 5px;
    font-weight: 600;
}

.big-title {
    margin-bottom: 25px;
}

.feature-title h3 {
    font-weight: 600;
}
 
.feature-block {
    padding-left: 110px!important;
}

.feature-content-text div a{
    padding-bottom: 5px;
    color: #A435F0;
    font-weight: 700;
    font-size: 18px;
}


.feature-content-text {
    padding-bottom: 5px;
}

.feature-content-text span {
    color: #666666;
    font-weight: 500;
}

.feature-btn-block {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.feature-btn {
    background-color: #EFDCFF!important;
    color: #636363!important;
    border: none!important;
    font-size: 20px!important;
    font-weight: 700!important;
    border-radius: 20px!important;
    padding: 10px 20px!important;
}

/* Footer */
.footer {
    background-color: #393939;
}

.row-footer {
    margin: 0 156px;
}

.col-footer {
    color: #575757;
    display: inline-block;
    width: 300px!important;
    padding: 20px 0;
}

.col-footer ul {
    list-style: none;
}

.logo-footer {
    padding-left: 10px;
    padding-bottom: 20px;
}